body {
  overflow: hidden;
  background-color: steelblue;
  color: whitesmoke;
  font-size: x-large;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  max-width: 960px;
  margin: auto;
  margin-bottom: 50px;
}

nav {
  margin: 25px 0 50px 0;
}

.gap-3 {
  gap: 3rem;
} 

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.between {
  justify-content: space-between;
}

button {
  font-size:medium;
  height: 2rem;
  width: 3rem;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
}


.selected-btn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

h1 {
  margin: 0;
}

.mt {
  margin-top: 1rem;
}